name: NanoLink CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    services:
      # We spin up Redis inside the CI runner for testing!
      redis:
        image: redis:alpine
        ports:
          - 6379:6379

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Install Dependencies
      run: go mod download

    - name: Run Unit Tests
      # We skip the integration tests that require Kafka/Mongo for now
      run: go test ./... -v -short

    - name: Build API Docker Image
      run: docker build -f application/Dockerfile -t nanolink-api .
